* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

/* Create two equal columns that floats next to each other */

.header {
  background-color: indianred;
  padding: 10px;
  text-align: center;
}
.column {
    background-color: greenyellow;
    float: left;
    width: 50%;
    padding: 15px;
  }

  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }